$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;



.localisation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.logo__image{
   width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.banner{
   text-align: center;
   background-color: #f2f2f2;

}

.steps__choice{
    width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


.restaurants{
    background-color: #f2f2f2;
}

.card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: white;
}

.card__image{
    height: 7em;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    box-sizing: content-box;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}

.card__top{
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.card__new{
    position: absolute;
    top: 8px;
    right: 16px;
}

.card__bottom{
    display: flex;
    flex-direction: column;
    position: relative;
}

.card__bottom span{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

footer{
    color: white;
    background-color: black;
}

footer li{
   list-style: none;
}

footer li a {
color: white;
}




