$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$green:$color-tertiary;

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: auto;
    color: #000000;
    background-color: #F6F6F6;
}


.logo{
    background-color: #FFFFFF;
    border-bottom-style: groove;
    height: 3em;
    display: flex;
    align-items: center;
    
    &__image {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

.localisation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;;
    color: #000000;
    background-color: #EAEAEA;

    i{
        margin-right: 1em;
    }
}



.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px 0px 20px 0px;

    p{
        margin: -6px 0px 31px 0px;
    }

    &__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    text-align: center;
    color: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    transition: box-shadow 150ms linear, transform 150ms linear;
    margin-bottom: 2em;
    }

}



.steps{
    padding: 20px 20px 40px 20px;
    &__choice{
        width: 50%;
        display: block;
        margin-left: 5px;
    }
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        border-radius: 20px;
        background: #F6F6F6;
        box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
        margin-bottom: 1em;
        width: 21em;
        height: 4em;
            i{
            margin-right: 24px;
            }
    }
}


.number{
   display: flex;
   position: relative;
   align-items: center;
    color: white;
    margin-left: -33px;
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.cercle{
    position: relative;
    display: flex;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-left: -10px;
    margin-right: 1em;
    background-color: #9356DC;
}

.restaurants{
    background-color: #f2f2f2;
    padding: 20px 20px 40px 20px;
}

.card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: white;
    overflow: hidden;
    &__image{
        height: 10em;
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        box-sizing: content-box;
        border-top-left-radius: 10px;
        border-top-right-radius:10px ;
    }
    &__top{
        box-sizing: border-box;
        height: 100%;
        position: relative;
    }
    &__new{
        position: absolute;
        top: 8px;
        right: 16px;
        color: #278870;
        background-color: #99E2D0;
        width: 80px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bottom{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 10px;
        p{
            margin-bottom: 3px;
        }
        span{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 100%;
            font-size: x-large;
        }
    }
    &__name{
        margin-bottom: -9px;
        margin-top: 4px;
    }
}

footer{
    color: white;
    background-color:  #353535;
    li{
        list-style: none;
        line-height: 30px;
        a{
            color: white;
            text-decoration: none;
        }
    }
    h3{
        padding: 18px 0px 0px 41px;
    }
}

.main{
    position: relative;
    display: flex;
 align-items: center;
    background-color: #FFFFFF;
}

.bg-image{
    height: 13em;
    img{
        width: 100%;
    }
}

.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateY(-50px);
    border-radius: 42px 42px 0 0;
    background-color: #F6F6F6;
    padding: 35px 20px;
    .name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &-choice{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }
    &-type{
        margin-bottom: 1em;
        margin-left: 10px;
        font-weight: 200;
        font-size: 1rem;
        border-bottom-style: groove;
        border-bottom-color: #99E2D0;
        width: 35px;
        height: 23px;
    }
}

h4{
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: #000000;
    font-size: 1.5em;
}



.plat{
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 15px;
    background-color: #FFFFFF;
    &__top{
        font-size: 1.125rem;
        font-weight: 500;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        text-overflow: ellipsis;
    }
    &__desc{
        font-size: 1rem;
        font-weight: 300;
        text-overflow: ellipsis;
    }
}

.favorite{
    font-size: 1.5em;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    text-align: center;
    color: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    background: linear-gradient(175deg,#FF79DA 10%, #9356DC 95%);
    transition: box-shadow 150ms linear, transform 150ms linear;
}

h4{
    font-family: "Shrikhand", cursive;
    font-style: italic;
    font-size: 1.85em;
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: #000000;
}
