
h4{
    font-weight: 700;
    margin: 0;
    text-align: left;
    color: #000000;
}


h3{
    font-family: "Shrikhand", cursive;
    font-style: italic;
    font-size: 1.85em;
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: #000000;
}